/**************** Variables ****************/
$font-family: 'Work Sans', sans-serif;
$primary-color: #e50914;
$background-color: rgba(85,214,170,.85);
$primary-color: #fff;
$secondary-color: #000;






